*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body{
  /* width: 100vh; */
  /* height: 100vh; */
  /* background-image: linear-gradient(to bottom ,#aafffcc5 , #9FF5FF); */
  font-family: "Gilroy";
  background-repeat: no-repeat;
}




